HCLOUD_TOKEN=
SSH_KEY_NAME=personal-laptop-2026
SSH_IDENTITY_FILE=~/.ssh/hetzner_dev
SERVER_NAME=dev-server
SERVER_TYPE=cpx62
LOCATION=sin
IMAGE=fedora-43
SNAPSHOT_LABEL=dev-server
SNAPSHOTS_TO_KEEP=1
