[defaults]
inventory           = inventory/hosts.ini
roles_path          = roles
remote_user         = root
host_key_checking   = False
retry_files_enabled = False
stdout_callback     = yaml
interpreter_python  = /usr/bin/python3

[ssh_connection]
ssh_args    = -o ControlMaster=auto -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ControlPersist=60s
pipelining  = True
